

.idea
.vscode
.DS_Store
tmp/
temp/
/docs
/pkg
__pycache__
sqlite3.db

/deploy

/usercenter
/codelieche
/tutorial
/chatbot
/mcpservice
/shared

.python-version

tests
docs
/scripts
/flutter-demo
/flutterapp


