body {
    margin: 0;
    padding: 0;
    background-color:#f9f9f9;
}
div.content {
    margin: 100px 10px 10px 10px;
    padding: 100px;
    text-align: center;
    background-color:#fff;
    font-size: 25px;
    color: #555;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: #999 1px 3px 8px;
}